body {
    background: #f5f7fb
}

.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .15)
}

.card:hover {
    transform: translateY(-5px);
    transition: .3s
}